# Copy this as secrets.toml in Streamlit Community Secrets

DATABASE_URL = "postgresql+psycopg2://<user>:<password>@<host>/<dbname>"
--postgresql://neondb_owner:<password>@ep-bitter-queen-adyccu05-pooler.c-2.us-east-1.aws.neon.tech/sks_dwp_postgresDB?sslmode=require&channel_binding=require

# Optional email notifications
EMAIL_USER = "your_email@gmail.com"
EMAIL_PASS = "app_password_or_oauth_token"
